.root {
  display: flex;
  margin-top:15px;
  height: 10vh;
  flex-direction: column;

}

.group {
  width: 100%;
  padding-top: 15px;

}

.buttonsGroup {
  display: flex;
  flex-direction: row;
  border:0.1px pink solid;
  border-radius:3px;

}
.buttonsGroup:not(:first-child){
  margin-top:20px;
}

.singleGroup{
  margin: 0 50px;
  flex-direction: column;
  padding-bottom:20px;

}