$sidebar-background: #FAFBFD;
$sidebar-font: #9E9E9E;
$outline-color: #3D5AFE;
$disabled-color: #9E9E9E;
$default-hover-color:  #AEAEAE;

$default-color:#E0E0E0;
$primary-color:#2962FF;
$secondary-color:#455A64;
$danger-color:#D32F2F;

$default-color-hover:#AEAEAE;
$primary-color-hover:#0039CB;
$secondary-color-hover:#1C313A;
$danger-color-hover:#9A0007;